<% content_for(t('.title')) %>
<div class="mainimg">
  <%= image_tag("mainimg.jpg") %>
</div>
<main>
  <div class="catch">
    <h2><span class="under">I’ll buy that!</span></h2>
    <p>ー ついつい衝動買いをしてしまう人のための衝動買い管理ツール ー<br>
    <br>衝動買い金額から算出した労働時間を使用して<br>
    衝動買いを防止したり、購入金額分の稼働スタンプカードを作成することができます。</p>
    <%= link_to '計算する', new_impulse_purchase_path, class: "button" %>
  </div>
  <div class="container">
    <div class="swiper">
      <h2 class="center"><span class="under">サービスの使い方</span></h2>
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <section id="1" class="gray-back">
            <h2 class="center"><span class="under">1.計算をします</span></h2>
            <div class="container center">
              <div class="row">
                <%= image_tag("ex_1.png") %>
              </div>
		          <p>『タイトル』、『購入金額』、『時給』を入力し『計算』をクリックします。<br>
              すると購入に必要な『労働時間』が算出されるので、『購入する』か『購入を見送る』を選択します。
              </p>
            </div>
          </section>
        </div>
        <div class="swiper-slide">
          <section id="1" class="gray-back">
            <h2 class="center"><span class="under">2.スタンプカードの作成</span></h2>
            <div class="container center">
              <div class="row">
                  <%= image_tag("ex_2.png") %>
              </div>
              <p>『購入する』を選択後は
              『やること』、『1日の稼働時間』を入力し『計算』をクリックするとスタンプ回数を算出します。<br>
              完成したスタンプカードは印刷することができます。
              </p>
            </div>
          </section>
        </div>
        <div class="swiper-slide">
          <section id="1" class="gray-back">
            <h2 class="center"><span class="under">3.過去の計算も保存されます</span></h2>
            <div class="container center">
              <div class="row">
                <%= image_tag("ex_3.png") %>
              </div>
              <p>『履歴』からは過去に計算したものを確認できます。<br>
              『詳細』から印刷ができたり、『編集』から再度作り直すこともできます。<br>
              </p>
            </div>
          </section>
        </div>
      </div>
    </div>
    <div class="swiper-pagination"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>
  <script>
    const swiper = new Swiper(".swiper", {
    loop: true, // ループ
    speed: 3000, // 少しゆっくり(デフォルトは300)
    autoplay: { // 自動再生
      delay: 10000, // 1秒後に次のスライド
      disableOnInteraction: false, // 矢印をクリックしても自動再生を止めない
    },
    // ページネーション
    pagination: {
      el: ".swiper-pagination",
      clickable: true,
    },
    // 前後の矢印
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
  });
  </script>
</div>
</main>