<div class="center">
  <%= form_with model: @impulse_purchase, local:true  do |f| %> 
    <%= render 'layouts/error_messages', model: f.object %>
      <div class="mb-3">
        <%= f.label :title, "タイトル" %>
        <%= f.text_field :title %>
      </div>
      <div class="mb-3">
        <%= f.label :purchase_amount, "購入金額" %>
        <%= f.number_field :purchase_amount, name: "purchase_amount" %>
      </div>
      <div class="mb-3">
        <%= f.label :hourly_wage, "時給選択" %>
        <%= f.text_field :hourly_wage, list: "combolist", name: "hourly_wage" %>
        <datalist id="combolist">
          <option value=100>青森</option>
          <option value=200>秋田</option>
          <option value=300>東京</option>
        </datalist>
      </div>
      <input type="button" class="calc-btn" onclick="calc(purchase_amount.value, hourly_wage.value);" value="計算">
      <hr class="line">
      <h1>結果</h1>
      <div class="mb-3">
        購入するには
        <%= f.number_field :operating_time, id: "time", readonly: "", size: "20x10" %> 時間分の労働が必要です。
      </div>
      <div class="mb-3">
         <%= link_to  "購入を見送る？", "#" %>
        <%= f.submit  "購入する？" %>
      </div>
  <% end %>
</div>

<script>
  function calc(purchase_amount, hourly_wage) {
      const time_value = document.getElementById('time').value = parseFloat((purchase_amount / hourly_wage).toFixed(2));
  }
</script>