<div class="container">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <h1>労働時間算出</h1>
      <%= form_for :impulse_purchase, url: impulse_purchases_path do |f| %> 
        <div class="mb-3">
          <%= f.label :title, "タイトル" %>
          <%= f.text_field :title %>
        </div>
        <div class="mb-3">
          <%= f.label :purchase_amount, "購入金額" %>
          <%= f.number_field :purchase_amount %>
        </div>
        <div class="mb-3">
          <%= f.label :hourly_wage, "時給選択" %>
          <%= f.text_field :hourly_wage, list: "combolist" %>
          <datalist id="combolist">
            <option value=100>青森</option>
            <option value=200>秋田</option>
            <option value=300>東京</option>
          </datalist>
        </div>
        <%= f.submit  "計算" %>
      <% end %>
    </div>
  </div>
</div>