<div id="<%= dom_id operation_plan %>">
  <p>
    <strong>Start on:</strong>
    <%= operation_plan.start_on %>
  </p>

  <p>
    <strong>Completion on:</strong>
    <%= operation_plan.completion_on %>
  </p>

  <p>
    <strong>Remind:</strong>
    <%= operation_plan.remind %>
  </p>

  <p>
    <strong>Task:</strong>
    <%= operation_plan.task %>
  </p>

  <p>
    <strong>Impulse purchase:</strong>
    <%= operation_plan.impulse_purchase_id %>
  </p>

</div>
