<div class="center">
  <%= form_with model: [@impulse_purchase, @operation_plan] do |f| %>
    <%= render 'layouts/error_messages', model: f.object %>
    <div class="mb-3">
      総稼働時間<br>
      <input id="operating_time", value="<%= @impulse_purchase.operating_time %>", readonly="", size="10">
    </div>
    <div class="mb-3">
      <%= f.label :task, "やること" %>
      <%= f.text_field :task %>
    </div>
    <div class="mb-3">
      <div class="item-list">
        <div class="item">
          <%= f.label :work_time, "1回の稼働時間(分)" %>
          <%= f.number_field :work_time, id: "work_time", placeholder: "分単位で入力" %>
        </div>
      <input type="button" class="calc-btn" onclick="calc(work_time.value, operating_time.value);" value="計算">
      <hr class="line">
      <h1>結果</h1>
      <div class="mb-3">
        <%= f.number_field :stamp, id: "stamp", readonly: "", size: "20x10" %>回分です
      </div>
      <div class="mb-3">
        <%= f.submit  "作成する" %>
      </div>
    </dev>
  <% end %>
</div>

<script>
  function calc(work_time, operating_time) {
    const sum_value = document.getElementById('stamp').value 
                    = parseFloat((operating_time / (work_time/60)).toFixed(2));
  }
</script>